.show-block
	.show-block__image
		img.show-block__woman(src="images/woman.png", srcset="images/woman@2x.png 2x", width="884", height="1323", alt="")
		img.show-block__ball(src="images/balls/1.png", srcset="images/balls/1@2x.png 2x", width="68", height="68", alt="")
	.show-block__title [Skin-translate]:
		br
		span переводчик <br> с языка кожи
	+button('Смотреть', 'show-block__btn', '#')