footer.footer
	.footer__left HSM PRODUCTION
	.footer__right
		span ПОДЕЛИТЬСЯ
		.footer__socials
			a(href='#', target='_blank')
				+icon('vk')
			a(href='#', target='_blank')
				+icon('fb')
			a(href='#', target='_blank')
				+icon('tw')
			a(href='#', target='_blank')
				+icon('ok')
