.test {
	position: relative;
	height: 100vh;
	background-repeat: no-repeat;
	background-position: bottom right;
	background-size: cover;
	overflow: hidden;

	@include max(md) {
		overflow: hidden;
	}

	&--auto-height {
		min-height: vw(900);
		height: 100vh;

		@include max(md) {
			min-height: vws(667);
		}
	}

	&.anim-title {
		.test__start-wrapper {
			opacity: 1;
			transform: translate(-50%, -50%);
		}
	}

	&.anim-balls-zoom {
		.test-ball {
			transform: scale(1);
		}
	}

	&.anim-balls-text {
		.test-ball {
			pointer-events: auto;

			p {
				opacity: 1;
				transform: translate(-50%, -50%);
			}
		}
	}

	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	&__start {
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 20;
		width: 100%;
		height: 100vh;
		pointer-events: none;
	}

	&__start-wrapper {
		max-width: vw(920);
		position: absolute;
		top: 50%;
		left: 50%;
		opacity: 0;
		transform: translate(-50%, -20%);
		transition: opacity 0.4s ease, transform 0.4s ease;

		@include max(md) {
			max-width: 100%;
			width: 100%;
			padding: 0 vws(24);
		}

		p {
			&.title {
				font-size: vw(80);
				line-height: vw(80);

				@include max(md) {
					font-size: vws(20);
					line-height: vws(20);
				}

				@include max(sm) {
					font-size: vws(40);
					line-height: vws(40);
				}
			}

			&.desk,
			&.mobile {
				font-size: vw(22);
				line-height: vw(28);
				font-style: italic;
				margin-top: vw(20);

				@include max(md) {
					font-size: vws(10);
					line-height: vws(16);
					margin-top: vws(10);
				}

				@include max(sm) {
					display: none;
				}
			}

			&.mobile {
				display: none;
				font-size: vws(20);
				line-height: vws(29);

				@include max(sm) {
					display: block;
				}
			}

			span {
				display: inline;
				background-color: $pink;
				padding: vw(5) vw(14);
				margin-left: vw(-14);
				border-radius: vw(60);
				color: $white;

				@include max(sm) {
					padding: vws(1) vws(14);
					margin-left: vws(-14);
					border-radius: vws(60);
				}
			}
		}
	}

	&__arrow {
		width: vw(20);
		height: vw(20);
		position: relative;
		top: 90%;
		left: 50%;
		z-index: 100;
		transform: translateX(-50%);
		animation: arrow-move 3s linear infinite;

		@include max(md) {
			width: vws(20);
			height: vws(20);
		}

		svg {
			width: 100%;
			height: 100%;
		}
	}

	&__return-btn {
		max-width: vw(210);
		padding: vw(13) vw(15);
		position: absolute;
		top: 5%;
		left: 5%;
		z-index: 2;
		font-size: vw(13);

		@include max(md) {
			max-width: vws(210);
			padding: vws(8) vws(11);
			font-size: vws(7);
		}

		@include max(sm) {
			max-width: vws(210);
			padding: vws(7) vws(9);
			font-size: vws(9);
		}
	}
}


.section-1 {
	transform: translateY(0);
	transition: transform 1s;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 111;
	width: 100%;

	&.top {
		transform: translateY(-100%);
	}

	.test-ball {
		animation-duration: 10s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;

		@include max(md) {
			display: block !important;
			animation: none;
		}

		&--1 {
			animation-name: move-to-top-right;
		}

		&--2 {
			animation-name: move-to-bottom-left;
			animation-delay: 1s;
		}

		&--3 {
			animation-name: move-to-down-up;
		}

		&--4 {
			animation-name: move-to-top-right;
			animation-delay: 1s;
		}

		&--5 {
			animation-name: move-to-bottom-left;
			z-index: 2;
		}

		&--6 {
			animation-name: move-to-down-up;
			animation-delay: 2s;
		}

		&--7 {
			animation-name: move-to-top-right;
			animation-delay: 1.5s;
		}

		&--8 {
			animation-name: move-to-down-up;
			animation-delay: 1s;
		}

		&--9 {
			animation-name: move-to-down-up;
		}

		&--10 {
			animation-name: move-to-up-down;
		}

		&--11 {
			animation-name: move-to-bottom-left;
			animation-delay: 2s;
		}

		&--12 {
			animation-name: move-to-down-up;
			animation-delay: 1.5s;
		}

		&--13 {
			animation-name: move-to-top-right;
		}

		&--14 {
			animation-name: move-to-bottom-left;
			animation-delay: 2s;
		}

		&--15 {
			animation-name: move-to-down-up;
			animation-delay: 2s;
		}

		&--16 {
			animation-name: move-to-top-right;
		}

		&--17 {
			animation-name: move-to-bottom-left;
			z-index: 3;
			animation-delay: 2s;
		}

		&--18 {
			animation-name: move-to-down-up;
			animation-delay: 3s;
		}

		&--19 {
			animation-name: move-to-top-right;
			animation-delay: 1s;
		}

		&--20 {
			animation-name: move-to-bottom-left;
		}
	}
}

.section-2 {
	transform: translateY(100vh);
	transition: transform 1s;
	position: relative;

	&.top {
		transform: translateY(0);
	}
}

body {
	&.blocked {
		overflow: hidden;
	}
}