.button {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 202px;
	padding: 13.5px 40px;
	border: 2px solid $pink;
	background-color: $white;
	border-radius: 60px;
	font-family: $fontSecond;
	font-size: 13px;
	text-transform: uppercase;
	color: $pink;
	transition: background-color 0.3s ease, color 0.3s ease;

	@include hover {
		background-color: $pink;
		color: $white;
	}

	&--fill {
		background-color: $pink;
		color: $white;

		@include hover {
			background-color: rgba($pink, 0.8);
			color: $white;
		}
	}

	&--purple {
		background-color: $light-purple;
		border-color: $light-purple;
		color: $white;

		@include hover {
			background-color: rgba($light-purple, 0.8);
			color: $white;
		}
	}

	&--gray {
		background-color: $gray-a5;
		border-color: $gray-a5;
		color: $white;

		@include hover {
			background-color: rgba($gray-a5, 0.8);
			color: $white;
		}
	}

	&--pink {
		background-color: $pink;
		border-color: $pink;
		color: $white;

		@include hover {
			background-color: rgba($pink, 0.8);
			color: $white;
		}
	}
}
